<ol class="post-list">
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span> {{user.username}} {{first_name}} {{last_name}} </span>
      </div>
      <div class="meta">
        {{service_id}} located in {{city_id}}. 
        <br> visit my work at <a href="{{link_url}}" target="_blank">Darla's Styles</a>
      </div>
    </article>
  </li>
</ol>